{% extends 'adminlte_base.html' %}
{% block title %}发布公告{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="panel panel-default">
  <div class="panel-heading"><strong>发布系统公告</strong></div>
  <div class="panel-body">
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label>公告标题</label>
        <input type="text" name="title" class="form-control" required>
      </div>
      <div class="form-group">
        <label>公告内容</label>
        <textarea name="content" class="form-control" rows="6" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">发布公告</button>
    </form>
  </div>
</div>
{% endblock %}
